body {
  margin: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary: rgb(6, 100, 207);
  --secondary: rgb(255, 255, 255);
  --error: rgb(255, 0, 0);
}
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
select {
  padding-left: 1em;
  background: transparent;
  width: 150px;
  appearance: none;
  height: 2.5em;
  border: 1px solid #111;
  border-radius: 3px;
  overflow: hidden;
  background: url("../public/favicon.ico") 90% / 20% no-repeat #eee;
}
input {
  padding: 1em;
  border-radius: 0.5em;
  border: 1px solid #111;
}
/* typography */
.error {
  color: var(--error);
}
.title {
  flex: 1;
  border-bottom: 1px solid rebeccapurple;
}
/* container */
.container {
  padding: 5em 2em;
  max-height: 100%;
}
/* buttons */
.btn {
  background: #242010;
  color: white;
  border: none;
  padding: 1em;
  border-radius: 0.5em;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  margin: 0.5em 0;
}
.btn-primary {
  background-color: var(--primary);
}
.btn-secondary {
  background-color: var(--secondary);
}
/* footer */
footer {
  border-top: 1px solid #242010;
  width: 100%;
  align-self: flex-end;
  color: white;
  text-align: center;
  padding-bottom: 2em;
}
@media screen and (min-width: 420px) {
  .container {
    padding: 5em;
  }
  footer {
    border-top: 1px solid #242010;
    width: 100%;
    align-self: flex-end;
    color: white;
    text-align: center;
    padding-bottom: 2em;
  }
}
